<script setup lang="ts">
const props = defineProps({
    state: {
        type: String,
    },
})
</script>

<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" class="character" :class="`${props.state}`"
        stroke-linejoin="round" stroke-linecap="round">
        <symbol id="eye" stroke-width="0.2" viewBox="0 0 1 1" preserveAspectRatio="xMinYMin">
            <line x1="0" y1="1" x2="1" y2="0" />
            <line x1="0" y1="0" x2="1" y2="1" />
        </symbol>
        <g stroke-width="0">
            <circle cx="60" cy="20" r="20" />
            <rect x="50" y="40" width="20" height="50" />
        </g>
        <g stroke-width="10">
            <g class="arms">
                <line x1="60" y1="40" x2="20" y2="50" />
                <line x1="60" y1="40" x2="100" y2="50" />
            </g>
            <g class="arms-climbing">
                <line x1="60" y1="45" x2="20" y2="30" />
                <line x1="60" y1="45" x2="100" y2="30" />
            </g>
            <line x1="60" y1="80" x2="20" y2="115" />
            <line x1="60" y1="80" x2="100" y2="115" />
        </g>
        <g class="eyes dead-eyes">
            <use href="#eye" x="49" y="10" width="10" />
            <use href="#eye" x="61" y="10" width="10" />
        </g>
    </svg>
</template>

<style scoped>
.character {
    stroke: currentColor;
    fill: currentColor;

    .eyes {
        filter: invert(1);
    }

    &.falling {
        transform: rotate(0.1turn) translateY(-15%);
    }

    &.dead {
        transform: rotate(0.25turn) translateX(14%);
    }

    &:not(.dead) {
        .dead-eyes {
            display: none;
        }
    }

    &.climbing {
        .arms {
            display: none;
        }
    }

    &:not(.climbing) {
        .arms-climbing {
            display: none;
        }
    }
}
</style>
