<script setup lang="ts">
import { computed } from 'vue'

const countFrom0 = (value: number): number => (value ?? 1) - 1

const percent = computed(() => countFrom0($slidev.nav.currentPage) * 100 / countFrom0($slidev.nav.total))
</script>

<template>
    <div class="progress" aria-labelledby="slides-counter" role="progressbar" aria-valuemin="1"
        :aria-valuenow="$slidev.nav.currentPage" :aria-valuemax="$slidev.nav.total"
        :aria-valuetext="`${Math.round(percent)}%`">
        <div class="process-inner-bar" :style="`transform: translateX(calc(${percent}% - 100%));`"></div>
    </div>
</template>

<style scoped>
.progress {
    view-transition-name: slides-progress;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 0.2em;

    background-color: #ddd;

    .process-inner-bar {
        view-transition-name: slides-progress-inner-bar;

        height: 100%;

        background-color: royalblue;

        transition: transform 1s;
    }
}
</style>
