<script setup lang="ts">
const props = defineProps({
  result: {
    type: String,
    required: true
  },
})
</script>

<template>
  <div class="gamble-zone">
    <button v-click type="button" class="coin" :class="props.result">
      <span class="logo front"></span>
      <span class="logo back"></span>
    </button>
  </div>
</template>

<style scoped>
.gamble-zone {
  --coin-size: 1lh;
  --height-size: calc(var(--coin-size) * 5);
  --toss_a_coin_vertical: calc((var(--height-size) - var(--coin-size)) * -1);

  height: var(--height-size);
  display: inline-flex;
  align-items: end;
}

.coin {
  position: relative;
  height: var(--coin-size);
  aspect-ratio: 1;

  .front,
  .back {
    display: block;

    backface-visibility: hidden;

    animation-composition: add;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .back {
    position: absolute;
    inset: 0;

    transform: rotateX(0.5turn);
  }

  &:focus,
  &:not(.slidev-vclick-hidden) {
    animation:
      0.5s ease-out none toss_a_coin_up,
      0.5s ease-in 0.5s none toss_a_coin_down;

    &.committed {

      .front,
      .back {
        animation-name: rotate_committed;
      }
    }

    &.reverted {

      .front,
      .back {
        animation-name: rotate_reverted;
      }
    }
  }
}

@keyframes toss_a_coin_up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(var(--toss_a_coin_vertical));
  }
}

@keyframes toss_a_coin_down {
  from {
    transform: translateY(var(--toss_a_coin_vertical));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rotate_committed {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(1turn);
  }
}

@keyframes rotate_reverted {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(1.5turn);
  }
}
</style>
